.song {
  text-align: center;
}

#title {
  font-size: 24px;
  color: darkblue;
}

.text {
  font-size: 16px;
  font-style: italic;
}

html {
  background-color: lightblue;
}

.ref {
  color: #5a5a5a;
}

.part {
  color: darkgreen;
}
